{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    ],
    [
      "import",
      { "libraryName": "antd-mobile" }
    ]
  ]
}
