{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "max-len": "warn",
    "no-console": "warn",
    "no-unused-vars": "warn",
    "no-use-before-define": "warn",
    "class-methods-use-this": "warn",
    "global-require": "warn",
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],

    "import/prefer-default-export": "off",
    "import/no-dynamic-require": "warn",
    
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "react/prefer-stateless-function": "off",
    "react/require-default-props": "warn",
    
    "jsx-a11y/no-static-element-interactions": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}